#detail{
	margin: 100px auto;
	.content{
		width: 100%;
		height: 100%;
		border: 1px solid #f00;
		background:#eee;padding: 20px;
		textarea{
			border-radius: 4px;
		}
	}
	.demo-spin-icon-load{
        animation: ani-demo-spin 1s linear infinite;
    }
    @keyframes ani-demo-spin {
        from { transform: rotate(0deg);}
        50%  { transform: rotate(180deg);}
        to   { transform: rotate(360deg);}
    }
    .demo-spin-col{
        height: 100px;
        position: relative;
        border: 1px solid #eee;
    }
}
