#detail{
	margin: 100px auto;
	.content{
		width: 100%;
		height: 100%;
		background:#eee;padding: 20px;
		textarea{
			border-radius: 4px;
		}

	}
    #cc{
            color:#000;
            width:100px;
            height:30px;
            line-height:30px;
            border-radius:4px;
        }
    button:hover{
        color:#f00 !important;
    }
	.demo-spin-icon-load{
        animation: ani-demo-spin 1s linear infinite;
    }
    @keyframes ani-demo-spin {
        from { transform: rotate(0deg);}
        50%  { transform: rotate(180deg);}
        to   { transform: rotate(360deg);}
    }
    .demo-spin-col{
        height: 100px;
        position: relative;
        border: 1px solid #eee;
    }
    
}
